                html {
                    font-family: sans-serif;
                }
                
                body {
                    border: solid 1px var(--red-color);
                }
                
                 :root {
                    --light-color: white;
                    --dark-color: rgb(50, 50, 50);
                    --red-color: #c9937b;
                    --overlay-color: rgb(50, 50, 50, 0.85);
                    --menu-speed: 0.75s;
                }
                
                h1 {
                    font-size: 50px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: var(--light-color);
                }
                
                h2 {
                    font-size: 30px;
                    letter-spacing: 2px;
                    color: var(--light-color);
                }
                
                p {
                    letter-spacing: 2px;
                    color: var(--light-color);
                    padding-top: 10px;
                    text-align: justify;
                }
                
                span {
                    letter-spacing: 2px;
                    color: var(--dark-color);
                }
                
                a {
                    color: var(--dark-color);
                    text-decoration: none;
                    transition: all 0.4s ease;
                }
                
                a:hover {
                    color: var(--light-color);
                }
                
                .cover-section {
                    height: 100vh;
                    background-image: url(./rsz_caff4120_corrected.jpg);
                    background-size: cover;
                    background-position: top center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
                .cover-section .hello-section {
                    padding: 0px 65px;
                    position: relative;
                    top: 100px;
                }
                
                .cover-section nav {
                    padding: 0 65px;
                }
                
                .themes-section {
                    display: flex;
                    justify-content: right;
                    height: 50px;
                    padding-top: 20px;
                }
                
                .themes-section>div {
                    padding-left: 50px;
                    letter-spacing: 2px;
                    color: var(--dark-color);
                }
                
                .themes-section>div:hover {
                    color: var(--light-color);
                }
                
                .socialmedia-section {
                    display: flex;
                    justify-content: right;
                    height: 50px;
                    padding-top: 20px;
                }
                
                .socialmedia-section>div {
                    padding-left: 10px;
                }
                
                svg {
                    fill: var(--dark-color);
                    transition: all 0.4s ease;
                }
                
                svg:hover {
                    fill: var(--light-color);
                }
                
                .about-container {
                    display: flex;
                    background-color: var(--dark-color);
                    align-items: center;
                    padding: 30px 65px;
                }
                
                .about-container .accounting {
                    display: flex;
                    justify-content: space-between;
                }
                
                .accounting>div {
                    flex: 1;
                }
                
                .accountant,
                .architecture,
                .student {
                    padding-right: 20px;
                }
                
                .calculator,
                .project-manager,
                .computer {
                    padding-left: 20px;
                }
                
                .calculator {
                    text-align: center;
                }
                
                .calculator img {
                    width: 100%;
                    height: auto;
                }
                
                .personal-projects {
                    display: flex;
                    min-height: 50vh;
                    background-color: var(--light-color);
                    align-items: center;
                    padding: 30px 65px;
                }
                
                .personal-projects .buildings {
                    display: flex;
                    justify-content: space-between;
                }
                
                .buildings>div {
                    flex: 1;
                }
                
                .architecture {
                    text-align: center;
                }
                
                .architecture img {
                    width: 100%;
                    height: auto;
                }
                
                .project-manager p {
                    color: var(--dark-color);
                }
                
                .studies-container {
                    display: flex;
                    background-color: var(--dark-color);
                    align-items: center;
                    padding: 30px 65px;
                }
                
                .studies-container .studying {
                    display: flex;
                    justify-content: space-between;
                }
                
                .studying>div {
                    flex: 1;
                }
                
                .computer {
                    text-align: center;
                }
                
                .computer img {
                    width: 100%;
                    height: auto;
                }
                
                .contacts-container {
                    height: 100vh;
                    background-color: var(--dark-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
                
                .contacts-container h3 {
                    color: var(--light-color);
                    font-weight: 600;
                    font-size: 50px;
                }
                
                .get-in-touch {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 50vh;
                    width: 75vw;
                    border: solid 3px var(--light-color);
                    border-radius: 5px;
                }
                
                .contacts-container .hello {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 150px;
                }
                
                .contacts-container .hello .button {
                    border-radius: 5px;
                    border: none;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    background-color: var(--light-color);
                    color: var(--dark-color);
                    text-decoration: none;
                    display: block;
                    padding: 15px 50px;
                }
                
                .bottom-line {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 65px;
                    background-color: var(--red-color);
                }
                
                #links {
                    padding-top: 4px;
                }
                
                .hello>p {
                    text-align: center;
                    padding: 0px 15px;
                }
                
                @media (max-width:768px) {
                    .accounting,
                    .buildings,
                    .studying {
                        flex-direction: column-reverse;
                    }
                    .personal-projects {
                        background-color: var(--dark-color);
                    }
                    .personal-projects p {
                        color: var(--light-color);
                    }
                    .calculator,
                    .architecture,
                    .computer {
                        display: none;
                    }
                    .contacts-container {
                        padding: 50px 65px;
                        height: 50vh;
                    }
                    .contacts-container h3 {
                        font-weight: 600;
                        font-size: 30px;
                    }
                    .project-manager {
                        padding-left: 0px;
                    }
                }
                
                @media (max-width:768px) {
                    .themes-section {
                        flex-direction: column;
                        align-items: flex-end;
                        display: none;
                    }
                    .cover-section .hello-section {
                        padding: 0px 40px;
                    }
                    .cover-section nav {
                        padding: 0px 40px;
                    }
                    .about-container {
                        padding: 30px 40px 10px 40px;
                    }
                    .personal-projects,
                    .studies-container {
                        padding: 10px 40px;
                    }
                    .personal-projects {
                        min-height: 0vh;
                    }
                    .accountant,
                    .student {
                        padding-right: 0px;
                    }
                    .bottom-line {
                        padding: 0px 40px;
                    }
                }